.status-bar { 
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
  }  
  .status-bar__column {
    width: 33%;
  }
  .status-bar__column:first-child span {
    margin-right: 5px;
  }
  .status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center; /* 아이콘을 중앙 정렬*/
  }
  .status-bar__column:last-child {
    display: flex;
    justify-content: flex-end; /* 컬럼을 끝으로 정렬*/
    align-items: center; /* 아이콘을 중앙 정렬*/
  }
  
  .status-bar__column .fa-battery-full {
    margin: 0px 5px; /* 간격 조절*/
  }
  
  
  